<section class="row justify-content-around">

    {{!-- Menu list --}}
    <section class="col-sm-4">
        <ul id="menu-list" class="list-group-flush text-center">
            <h2 id="menu-heading" class="list-heading">Menu</h2>
            {{#each burgers}}
            {{#unless this.devoured}}
            <li class="list-group-item d-flex flex-row justify-content-between">
             
                    <span>{{this.burger_name}}</span>
                    <button data-id="{{this.id}}" data-devoured="{{this.devoured}}" type="submit" class="btn btn-success toggle-burger">Devour It!</button>
                
            </li>
            {{/unless}}
            {{/each}}
        </ul>
    </section>

    {{!-- Devoured list --}}
    <section class="col-sm-6">
        <ul id="devoured-list" class="list-group-flush text-center">
            <h2 id="devoured-heading" class="list-heading">Devoured</h2>
            {{#each burgers}}
            {{#if this.devoured}}
            <li class="list-group-item d-flex flex-row justify-content-around">
                <span>{{this.burger_name}}</span>
                
                    <button data-id="{{this.id}}" data-devoured="{{this.devoured}}" type="submit" class="btn btn-warning toggle-burger">Make Another?</button>
                
                
                    <button data-id="{{this.id}}" type="submit" class="btn btn-danger p-2 delete-burger">Trash it</button>
                </form>
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </section>

</section>

