<main class="container">
    <section class="row">
        {{!-- Main jumboron --}}
        <section class="col-12">
            <section class="jumbotron mt-4 text-center">
                <img id="burger-man" alt="man eating a burger" class="img-fluid"
                    src="../public/assets/images/burger-man.png" />
                <h1>Burger Banquet</h1>
                <p class="lead my-4">Let's eat some burgers!</p>
                {{!-- Data entry form --}}
                <form method="POST" action="/insert">
                    <section class="form-group">
                        <textarea class="form-control" type="text" id="burger-text" rows="1"
                            placeholder="Enter a burger" name="burger"></textarea>
                    </section>
                    <button id="add-btn" type="submit" class="btn btn-light btn-lg" role="button">Add that Burger!</button>
                </form>

            </section>
        </section>
    </section>

    <section class="row justify-content-around">
        {{!-- Uneaten list --}}
        <section class="col-sm-4">
            <ul id="uneaten" class="list-group-flush">
                {{#each burgers}}
                {{#unless this.devoured}}
                <li class="list-group-item d-flex flex-row justify-content-between"><span>{{this.burger_name}}</span>
                   <form method="POST" action="/update/{{this.id}}/{{this.devoured}}?_method=PUT"> 
                       <button type="submit" class="btn btn-success">Devour It!</button>
                    </form>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </section>

        {{!-- Devoured list --}}
        <section class="col-sm-6">
            <ul id="uneaten" class="list-group-flush">
                {{#each burgers}}
                {{#if this.devoured}}
                <li class="list-group-item d-flex flex-row justify-content-around">
                    <span class="mr-auto p-2">{{this.burger_name}}</span>
                    <form method="POST" action="/update/{{this.id}}/{{this.devoured}}?_method=PUT">
                        <button type="submit" class="btn btn-success p-2 mr-1">Make Another?</button>
                    </form>
                    <form method="POST" action="/delete/{{this.id}}?_method=DELETE">
                        <button type="submit" class="btn btn-success p-2">Trash it</button>
                    </form>
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </section>

    </section>

</main>